<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/filter.css" />
    <link rel="stylesheet" href="/styles/adicionar.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <!-- Inclui o CSS global -->
    <title>Odeio Cinema</title>
  </head>
  <body>
    <%- include('components/loginHeader') %>
    <!-- Inclui o header.ejs -->
    <div class="form">
      <div class="tab-content">
        <div id="signup">
          <h1>Adicionar filme</h1>
          <form action="/cadastro" method="post" enctype="multipart/form-data">
            <div class="field-wrap">
              <label>Título<span class="req">*</span></label>
              <input type="text" name="Nome" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <label>Sinopse<span class="req">*</span></label>
              <input type="text" name="Sinopse" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <label>Duração<span class="req">*</span></label>
              <input type="number" name="Duracao" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <input type="date" name="DataLancamento" required />
            </div>
            <div class="field-wrap">
              <label>Diretor<span class="req">*</span></label>
              <input type="text" name="Diretor" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <label>Produtora<span class="req">*</span></label>
              <input type="text" name="Produtora" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <input type="file" name="Poster" accept="image/*" required />
            </div>
            <div class="filterItem">
              <label for="genreSelect" class="labelInput">Gênero:</label>
              <select id="genreSelect" class="filterSelect" name="FK_Genero">
                <option value="">Todos</option>
                <option value="1">Ação</option>
                <option value="2">Comédia</option>
                <option value="3">Drama</option>
                <option value="4">Ficção Científica</option>
                <option value="5">Romance</option>
                <option value="6">Terror</option>
                <option value="7">Aventura</option>
                <option value="8">Animação</option>
                <option value="11">Infantil</option>
              </select>
            </div>
            <button type="submit" class="button button-block">Salvar alterações</button>
          </form>
        </div>
        <div id="login"></div>
      </div>
    </div>

    <script>
      document.querySelector("form").addEventListener("submit", async function (event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        try {
          const response = await fetch("/cadastro2", {
            method: "POST",
            body: formData,
          });

          if (!response.ok) {
            throw new Error("Erro ao adicionar filme");
          }

          const data = await response.json();
          alert("Filme adicionado com sucesso!");

          // Redirecionar ou realizar outra ação após adicionar o filme
          window.location.href = "/admin"; // Exemplo de redirecionamento para página de admin
        } catch (error) {
          console.error("Erro ao adicionar filme:", error);
          alert("Erro ao adicionar filme");
        }
      });
    </script>
  </body>
</html>
