<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/movieCard.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <!-- Inclui o CSS global -->
    <title>MOovi</title>
  </head>
  <body>
    <%- include('components/header') %>
    <!-- Inclui o header.ejs -->
    <main class="main">
      <div id="movies-container" class="movies-container"></div>
      <script>
        // Função para renderizar filmes
        function renderMovies(movies) {
            const moviesContainer = document.getElementById("movies-container");
            movies.forEach((movie) => {
                const movieCard = document.createElement("div");
                movieCard.className = "movie-card";
                movieCard.innerHTML = `
                    <img src="../Posters/${movie.Poster}" alt="Poster de ${movie.Nome}" class="movie-poster">
                    <div class="movie-info">
                        <h3>${movie.Nome}</h3>
                        <p>${movie.Sinopse}</p>
                        <p><strong>Diretor:</strong> ${movie.Diretor}</p>
                        <p><strong>Duração:</strong> ${movie.Duracao} minutos</p>
                        <p><strong>Ano de lançamento:</strong> ${new Date(movie.DataLancamento).getFullYear()}</p>
                        <p><strong>Produtora:</strong> ${movie.Produtora}</p>
                        <div class="buttons">
                            <button class="watch-button">Assistir</button>
                        </div>
                    </div>
                `;
                moviesContainer.appendChild(movieCard);
            });

            // Adiciona o evento de clique para todos os botões de alugar
            document.querySelectorAll(".rent-button").forEach((button) => {
                button.addEventListener("click", function () {
                    this.textContent = "Assistir";
                    this.className = "watch-button";
                });
            });
        }

        // Chama a função para renderizar os filmes com os dados recebidos do servidor
        renderMovies(<%- JSON.stringify(dados) %>);
      </script>
    </main>
  </body>
</html>
