<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/login.css">
    <link rel="stylesheet" href="../public/styles/global.css"> <!-- Inclui o CSS global -->
    <title>Odeio Cinema</title>
</head>
<body>
    <%- include('components/loginHeader') %> <!-- Inclui o header.ejs -->
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Cadastro</a></li>
            <li class="tab"><a href="#login">Login</a></li>
        </ul>
        <div class="tab-content">
            <div id="signup">
                <h1>Faça seu cadastro!</h1>
                <form action="/cadastro" method="post">
                    <div class="field-wrap">
                        <label>Nome<span class="req">*</span></label>
                        <input type="text" name="nome" required autocomplete="off" />
                    </div>
                    <div class="selectCountry">
                        <select id="country" name="pais" required>
                            <option value="">Selecione um país</option>
                            <option value="1">Brasil</option>
                            <option value="2">Estados Unidos</option>
                            <option value="3">Canadá</option>
                            <option value="4">França</option>
                            <option value="5">Japão</option>
                            <option value="6">Espanha</option>
                            <option value="7">Portugal</option>
                        </select>
                    </div>
                    <div class="selectCountry hidden" id="state-wrap">
                        <select id="state" name="estado">
                            <option value="">Selecione um estado</option>
                            <option value="1">Acre</option>
                            <option value="2">Alagoas</option>
                            <option value="3">Amapá</option>
                            <option value="4">Amazonas</option>
                            <option value="5">Bahia</option>
                            <option value="6">Ceará</option>
                            <option value="7">Distrito Federal</option>
                            <option value="8">Espírito Santo</option>
                            <option value="9">Goiás</option>
                            <option value="10">Maranhão</option>
                            <option value="11">Mato Grosso</option>
                            <option value="12">Mato Grosso do Sul</option>
                            <option value="13">Minas Gerais</option>
                            <option value="14">Pará</option>
                            <option value="15">Paraíba</option>
                            <option value="16">Paraná</option>
                            <option value="17">Pernambuco</option>
                            <option value="18">Piauí</option>
                            <option value="19">Rio de Janeiro</option>
                            <option value="20">Rio Grande do Norte</option>
                            <option value="21">Rio Grande do Sul</option>
                            <option value="22">Rondônia</option>
                            <option value="23">Roraima</option>
                            <option value="24">Santa Catarina</option>
                            <option value="25">São Paulo</option>
                            <option value="26">Sergipe</option>
                            <option value="27">Tocantins</option>
                        </select>
                    </div>
                    <div class="field-wrap hidden" id="address-wrap">
                        <label>Logradouro<span class="req">*</span></label>
                        <input type="text" name="logradouro" id="address" autocomplete="off"/>
                    </div>
                    <div class="field-wrap hidden" id="cep-wrap">
                        <label>CEP<span class="req">*</span></label>
                        <input type="text" name="cep" id="cep" autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Telefone<span class="req">*</span></label>
                        <input type="tel" name="telefone" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Email<span class="req">*</span></label>
                        <input type="email" name="email" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Senha<span class="req">*</span></label>
                        <input type="password" name="password" required autocomplete="off"/>
                    </div>
                    <button type="submit" class="button button-block">Seja bem vindo!</button>
                </form>
            </div>
            <div id="login">   
                <h1>Bem vindo de volta!</h1>
                <form action="/login" method="post">
                    <div class="field-wrap">
                        <label>Email<span class="req">*</span></label>
                        <input type="email" name="email" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Senha<span class="req">*</span></label>
                        <input type="password" name="password" required autocomplete="off"/>
                    </div>
                    <p class="forgot"><a href="#">Esqueceu a senha?</a></p>
                    <button class="button button-block">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.form').find('input, textarea').on('keyup blur focus', function (e) {
                var $this = $(this), label = $this.prev('label');
                if (e.type === 'keyup') {
                    if ($this.val() === '') {
                        label.removeClass('active highlight');
                    } else {
                        label.addClass('active highlight');
                    }
                } else if (e.type === 'blur') {
                    if ($this.val() === '' ) {
                        label.removeClass('active highlight'); 
                    } else {
                        label.removeClass('highlight');   
                    }   
                } else if (e.type === 'focus') {
                    if ($this.val() === '' ) {
                        label.removeClass('highlight'); 
                    } else if ($this.val() !== '' ) {
                        label.addClass('highlight');
                    }
                }
            });

            $('.tab a').on('click', function (e) {
                e.preventDefault();
                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');
                var target = $(this).attr('href');
                $('.tab-content > div').not(target).hide();
                $(target).fadeIn(600);
            });

            $('#country').on('change', function() {
                var stateWrap = $('#state-wrap');
                var addressWrap = $('#address-wrap');
                var cepWrap = $('#cep-wrap');
                var isBrazil = $(this).val() === '1'; // Verificar se o país é Brasil
                
                if (isBrazil) {
                    stateWrap.removeClass('hidden');
                    $('#state').attr('required', 'required');
                    addressWrap.removeClass('hidden');
                    $('#address').attr('required', 'required');
                    cepWrap.removeClass('hidden');
                    $('#cep').attr('required', 'required');
                } else {
                    stateWrap.addClass('hidden');
                    $('#state').removeAttr('required');
                    addressWrap.addClass('hidden');
                    $('#address').removeAttr('required');
                    cepWrap.addClass('hidden');
                    $('#cep').removeAttr('required');
                }
            });
        });
    </script>
</body>
</html>