<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/global.css"> <!-- Inclui o CSS global -->
    <title>Odeio Cinema</title>
</head>

<body>
    <%- include('components/loginHeader') %> <!-- Inclui o header.ejs -->
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Cadastro</a></li>
            <li class="tab"><a href="#login">Login</a></li>
        </ul>
        <div class="tab-content">
            <div id="signup">
                <h1>Faça seu cadastro!</h1>
                <form action="/" method="post">
                    <div class="field-wrap">
                        <label>Nome<span class="req">*</span></label>
                        <input type="text" required autocomplete="off" />
                    </div>
                    <div class="selectCountry">
                        <!-- <label>País<span class="req">*</span></label> -->
                        <select id="country" required>
                            <option value="">Selecione um país</option>
                            <option value="brasil">Brasil</option>
                            <option value="eua">Estados Unidos</option>
                            <option value="canada">Canadá</option>
                            <option value="franca">França</option>
                            <option value="japao">Japão</option>
                            <option value="espanha">Espanha</option>
                            <option value="portugal">Portugal</option>
                            <!-- Adicione outros países conforme necessário -->
                        </select>
                    </div>
                    <div class="selectCountry hidden" id="state-wrap">
                        <!-- <label>Estado<span class="req">*</span></label> -->
                        <select id="state">
                            <option value="">Selecione um estado</option>
                            <option value="ac">Acre</option>
                            <option value="al">Alagoas</option>
                            <option value="ap">Amapá</option>
                            <option value="am">Amazonas</option>
                            <option value="ba">Bahia</option>
                            <option value="ce">Ceará</option>
                            <option value="df">Distrito Federal</option>
                            <option value="es">Espírito Santo</option>
                            <option value="go">Goiás</option>
                            <option value="ma">Maranhão</option>
                            <option value="mt">Mato Grosso</option>
                            <option value="ms">Mato Grosso do Sul</option>
                            <option value="mg">Minas Gerais</option>
                            <option value="pa">Pará</option>
                            <option value="pb">Paraíba</option>
                            <option value="pr">Paraná</option>
                            <option value="pe">Pernambuco</option>
                            <option value="pi">Piauí</option>
                            <option value="rj">Rio de Janeiro</option>
                            <option value="rn">Rio Grande do Norte</option>
                            <option value="rs">Rio Grande do Sul</option>
                            <option value="ro">Rondônia</option>
                            <option value="rr">Roraima</option>
                            <option value="sc">Santa Catarina</option>
                            <option value="sp">São Paulo</option>
                            <option value="se">Sergipe</option>
                            <option value="to">Tocantins</option>
                        </select>
                    </div>
                    <div class="field-wrap hidden" id="address-wrap">
                        <label>Logradouro<span class="req">*</span></label>
                        <input type="text" id="address" autocomplete="off"/>
                    </div>
                    <div class="field-wrap hidden" id="cep-wrap">
                        <label>CEP<span class="req">*</span></label>
                        <input type="text" id="cep" autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Telefone<span class="req">*</span></label>
                        <input type="tel" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Email<span class="req">*</span></label>
                        <input type="email" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Senha<span class="req">*</span></label>
                        <input type="password" required autocomplete="off"/>
                    </div>
                    <button type="submit" class="button button-block">Seja bem vindo!</button>
                </form>
            </div>
            <div id="login">   
                <h1>Bem vindo de volta!</h1>
                <form action="/" method="post">
                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        <input type="email"required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Senha<span class="req">*</span>
                        </label>
                        <input type="password"required autocomplete="off"/>
                    </div>
                    <p class="forgot"><a href="#">Esqueceu a senha?</a></p>
                    <button class="button button-block">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Primeira função: Gerenciamento de foco e classes
            $('.form').find('input, textarea').on('keyup blur focus', function (e) {
                var $this = $(this), label = $this.prev('label');
                if (e.type === 'keyup') {
                    if ($this.val() === '') {
                        label.removeClass('active highlight');
                    } else {
                        label.addClass('active highlight');
                    }
                } else if (e.type === 'blur') {
                    if ($this.val() === '' ) {
                        label.removeClass('active highlight'); 
                    } else {
                        label.removeClass('highlight');   
                    }   
                } else if (e.type === 'focus') {
                    if ($this.val() === '' ) {
                        label.removeClass('highlight'); 
                    } else if ($this.val() !== '' ) {
                        label.addClass('highlight');
                    }
                }
            });

            // Segunda função: Aba de navegação
            $('.tab a').on('click', function (e) {
                e.preventDefault();
                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');
                var target = $(this).attr('href');
                $('.tab-content > div').not(target).hide();
                $(target).fadeIn(600);
            });

            // Terceira função: Mostrar e esconder estados baseado na seleção de país
            $('#country').on('change', function() {
                var stateWrap = $('#state-wrap');
                var addressWrap = $('#address-wrap');
                var cepWrap = $('#cep-wrap');
                var isBrazil = $(this).val() === 'brasil';
                
                if (isBrazil) {
                    stateWrap.removeClass('hidden');
                    $('#state').attr('required', 'required');
                    addressWrap.removeClass('hidden');
                    $('#address').attr('required', 'required');
                    cepWrap.removeClass('hidden');
                    $('#cep').attr('required', 'required');
                } else {
                    stateWrap.addClass('hidden');
                    $('#state').removeAttr('required');
                    addressWrap.addClass('hidden');
                    $('#address').removeAttr('required');
                    cepWrap.addClass('hidden');
                    $('#cep').removeAttr('required');
                }
            });
        });
    </script>
</body>

</html>