<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/global.css"> <!-- Inclui o CSS global -->
    <title>Odeio Cinema</title>
</head>

<body>
    <%- include('components/loginHeader') %> <!-- Inclui o header.ejs -->
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Cadastro</a></li>
            <li class="tab"><a href="#login">Login</a></li>
        </ul>
        <div class="tab-content">
            <div id="signup">   
                <h1>Faça seu cadastro!</h1>
                <form action="/" method="post">
                    <div class="field-wrap">
                        <label>Nome<span class="req">*</span></label>
                        <input type="text" required autocomplete="off" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        <input type="email"required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Senha<span class="req">*</span>
                        </label>
                        <input type="password"required autocomplete="off"/>
                    </div>
                    <button type="submit" class="button button-block">Seja bem vindo!</button>
                </form>
            </div>
            <div id="login">   
                <h1>Bem vindo de volta!</h1>
                <form action="/" method="post">
                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        <input type="email"required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Senha<span class="req">*</span>
                        </label>
                        <input type="password"required autocomplete="off"/>
                    </div>
                    <p class="forgot"><a href="#">Esqueceu a senha?</a></p>
                    <button class="button button-block">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.form').find('input, textarea').on('keyup blur focus', function (e) {
                var $this = $(this), label = $this.prev('label');
                if (e.type === 'keyup') {
                    if ($this.val() === '') {
                        label.removeClass('active highlight');
                    } else {
                        label.addClass('active highlight');
                    }
                } else if (e.type === 'blur') {
                    if ($this.val() === '' ) {
                        label.removeClass('active highlight'); 
                    } else {
                        label.removeClass('highlight');   
                    }   
                } else if (e.type === 'focus') {
                    if ($this.val() === '' ) {
                        label.removeClass('highlight'); 
                    } else if ($this.val() !== '' ) {
                        label.addClass('highlight');
                    }
                }
            });

            $('.tab a').on('click', function (e) {
                e.preventDefault();
                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');
                var target = $(this).attr('href');
                $('.tab-content > div').not(target).hide();
                $(target).fadeIn(600);
            });
        });
    </script>
</body>

</html>