<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/movieCard.css">
    <link rel="stylesheet" href="/styles/filter.css">
    <!-- <link rel="stylesheet" href="/styles/login.css"> -->
    <link rel="stylesheet" href="/styles/global.css"> <!-- Inclui o CSS global -->
    <title>Odeio Cinema</title>
</head>

<body>
    <%- include('components/header') %> <!-- Inclui o header.ejs -->
    <main class="main">
        <div class="searchContainer">
            <svg class="searchIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" alt="search icon">
                <path d="M46.599 46.599a4.498 4.498 0 0 1-6.363 0l-7.941-7.941C29.028 40.749 25.167 42 21 42 9.402 42 0 32.598 0 21S9.402 0 21 0s21 9.402 21 21c0 4.167-1.251 8.028-3.342 11.295l7.941 7.941a4.498 4.498 0 0 1 0 6.363zM21 6C12.717 6 6 12.714 6 21s6.717 15 15 15c8.286 0 15-6.714 15-15S29.286 6 21 6z"></path>
            </svg>
            <input class="inputBox" id="inputBox" type="text" placeholder="Pesquisar filme">
        </div>

        <div class="filterContainer">
            <div class="filterItem">
                <label for="yearInput" class="labelInput">Duração mínima:</label>
                <input type="number" id="yearInput" class="filterInput" placeholder="Digite a duração">
            </div>
            <div class="filterItem">
                <label for="yearInput" class="labelInput">Duração máxima:</label>
                <input type="number" id="yearInput" class="filterInput" placeholder="Digite a duração">
            </div>
        </div>

        <div class="filterContainer">
            <div class="filterItem">
                <label for="yearInput" class="labelInput">Ano de Lançamento:</label>
                <input type="number" id="yearInput" class="filterInput" placeholder="Digite o ano">
            </div>
            <div class="filterItem">
                <label for="genreSelect" class="labelInput">Gênero:</label>
                <select id="genreSelect" class="filterSelect">
                    <option value="">Todos</option>
                    <option value="Ação">Ação</option>
                    <option value="Comédia">Comédia</option>
                    <option value="Infantil">Infantil</option>
                    <option value="Animação">Animação</option>
                    <option value="Ficção Científica">Ficção Científica</option>
                    <option value="Terror">Terror</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Romance">Romance</option>
                </select>
            </div>
        </div>
    </main>
</body>

</html>