.main {
    gap: 15px;
}

.search-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 1rem;
}

.searchContainer { /* Box da pesquisa */
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    background-color: var(--secundaria);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
}


.searchIcon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: var(--text);
}

.inputBox {
    background-color: transparent;
    color: var(--text);
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
}

::placeholder {
    color: var(--text);
}

.filterContainer { /* Box do filtro */
    display: flex; /* Mantém  a tag em uma única linha */
    align-items: center; /* Posiciona tudo ao centro da tela */
    justify-content: space-between;
    gap: 20px;
    background-color: var(--secundaria);
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

.labelInput {
    color: var(--text);
}

.filterItem {
    display: flex;
    flex-direction: column;
}

.filterInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: none;
}

.filterInput::placeholder {
    color: var(--black);
}

.filterSelect {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--white);
}

.button {
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--terciaria);
    color: var(--white);
    transition: 0.2s;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    /* -webkit-appearance: none; */
}

.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8; /* darken(#1ab188, 5%) */
}