@charset "UTF-8";
/* Importação das fontes uasadas no site */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter';
}

:root {
    --gradiente1: #393E46;
    --gradiente2: #222831;
    --principal: #09090B;
    --secundaria: #18181B;
    --terciaria: #3C58ED;
    --purple: #0F1430;
    --principalHover: #2596be;
    --white: #fff;
    --zinc: #F4F4F5;
    --black: #000;
    --zinc-gray: #18181B;
    --edit: #4CAF50;
    --delete: #f44336;
    --text: rgba(255, 255, 255, 0.5);
    --sombra1: rgba(19, 35, 47, 0.3);
}

body {
    background-color: var(--black);
    font-family: 'Inter';
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding-top: 20px;
}