nav {
    display: flex; /* Mantém  a tag em uma única linha */
    align-items: center; /* Posiciona tudo ao centro da tela */
    justify-content: center;
    flex-wrap: wrap; /* Reposiciona os itens da nav bar em diferentes linhas em tamanhos de telas menores */
    height: 10vh; /* Altura da nav bar */
    background-color: var(--secundaria) /* Gradiente do Background */;
    box-shadow: 0 4px 10px 4px var(--sombra1); /* Sombra */
}
.logoLeft {
    color: white; /* Cor */
    font-weight: 600; /* Grossura */
    font-size: 24px; /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
}

.logoLeft strong {
    color: var(--terciaria);
}

.logoRight {
    color: var(--white); /* Cor */
    font-weight: 400; /* Grossura */
    font-size: 28px; /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
}