*, *:before, *:after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll; 
}
a {
    text-decoration: none;
    color: var(--principal);
    transition: 0.5s ease;
}
a:hover {
    color: var(--principalHover);
}
.form {
    background-color: var(--secundaria);
    padding: 40px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a { /* Nome SingUp/Login desativado */
    display: block;
    text-decoration: none;
    padding: 15px;
    border-radius: 2px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.tab-group li a:hover {
    background: var(--terciaria);
    color: var(--white);
}
.tab-group .active a {
    background: var(--terciaria);
    color: var(--white);
}
.tab-content > div:last-child {
    display: none;
}
h1 {
    text-align: center;
    color: var(--white);
    font-weight: 500;
    margin: 0 0 40px;
}
label {
    position: absolute;
    transform: translateY(10px);
    left: 13px;
    color: var(--text);
    transition: all 0.25s ease;
    /* -webkit-backface-visibility: hidden; */
    pointer-events: none;
    font-size: 16px;
}
label .req {
    margin: 2px;
    color: var(--terciaria);
}
label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}
label.highlight {
    color: var(--white);
}
input, textarea {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: var(--white);
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    background:#09090B;
    border: 1px solid #27272A;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: var(--principal);
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}
.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

input, select {
    border-radius: 5px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--terciaria);
    border-radius: 2px;
    color: var(--white);
    transition: 0.2s;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    /* -webkit-appearance: none; */
}
.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.6;
}
.button-block {
    display: block;
    width: 100%;
}
.forgot {
    margin-top: -20px;
    text-align: right;
}
.hidden {
    display: none;
}

.selectCountry {
    margin-bottom: 40px;
}

.selectCountry label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.selectCountry select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--white); /* Borda do select principal */
    /* border-radius: 4px; */
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background:#09090B;
    border: 1px solid #27272A;
    color: var(--text);
    outline: none;
    transition: border-color 0.3s;
}

.selectCountry select option {
    background-color: var(--gradiente1); /* Cor de fundo das opções */
}