.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.movie-card {
    background: linear-gradient(var(--gradiente1), var(--gradiente2));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px 4px var(--sombra1);
    display: flex;
    flex-direction: column;
}

.movie-poster {
    width: 100%;
    height: auto;
    display: block;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 65%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0) 100%);
    /* Variações específicas para navegadores */
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, rgba(0,0,0,1)), color-stop(0.35, rgba(0,0,0,1)), color-stop(0.50, rgba(0,0,0,1)), color-stop(0.65, rgba(0,0,0,1)), color-stop(0.85, rgba(0,0,0,0.6)), color-stop(1.00, rgba(0,0,0,0)));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 65%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0) 100%);
    -moz-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 65%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0) 100%);
    -o-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 65%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0) 100%);
    -ms-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 65%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0) 100%);
    position:relative;
}

.movie-card:hover {
    transform: translateY(-10px);
}

.movie-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.movie-title {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    color: var(--principal);
}

.movie-synopsis {
    font-size: 0.9em;
    margin: 0 0 10px 0;
    color: var(--white);
}

.movie-info {
    font-size: 0.9em;
    margin: 5px 0;
    color: var(--white);
}

.movie-info strong {
    color: var(--principal);
}

.rent-button {
    background-color: var(--principal);
    border: none;
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: auto; /* Empurra o botão para a parte inferior */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.rent-button:hover {
    background-color: var(--principalHover);
}

.watch-button {
    background-color: linear-gradient(var(--gradiente1), var(--gradiente2));
    border: 2px solid var(--principal);
    color: var(--text);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.watch-button:hover {
    background-color: linear-gradient(var(--gradiente1), var(--gradiente2));
    border: 2px solid var(--principalHover);
}