table {
    max-width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    /* border-bottom: 1px solid var(--white); */
}

th {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    background-color: var(--secundaria);
    color: var(--white);
}

tr:hover {
    background-color: var(--white);
}

tbody {
    background-color: var(--text);
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.add-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--terciaria);
    color: var(--white);
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button {
    background-color: var(--edit);
    color: var(--white);
}

.delete-button {
    background-color: var(--delete);
    color: var(--white);
}